h2(mat-dialog-title) Choose sheet as template
mat-dialog-content
    mat-form-field
        mat-select(required, placeholder="Choose sheet", [(ngModel)]="selectedValue", (change)="selectionChanged()")
            mat-option(*ngFor="let sheet of xlsxService.workbook.SheetNames", [value]="sheet") {{sheet}}

    span.warning-message(*ngIf="missedUsers.length > 0") The following users are missed in the selected sheet:
    br
    br
    span {{missedUsers}}
mat-dialog-actions
    button(mat-raised-button, color="primary", (click)="saveToXlsx()", [disabled]="!selectedValue || missedUsers.length > 0") Generate Sheet