mat-grid-list(cols="4", rowHeight="2:1")
  mat-grid-tile
    mat-list
      mat-list-item
        label Button
      mat-list-item
        mat-button-toggle Toggle me!
  mat-grid-tile
    mat-list
      mat-list-item
        label Checkbox
      mat-list-item
        mat-checkbox Check me
  mat-grid-tile
    mat-list
      mat-list-item
        label Date Picker
      mat-list-item
        mat-form-field
          input(matInput, [matDatepicker]="picker", placeholder="Choose a date")
          mat-datepicker-toggle(matSuffix, [for]="picker", [disabled]='false')
          mat-datepicker(#picker='')
  mat-grid-tile
    mat-list
      mat-list-item Select
      mat-list-item
        mat-form-field
          mat-select(placeholder="Select option")
            mat-option(*ngFor="let option of options", [value]="option.value") {{ option.viewValue }}
  mat-grid-tile
    mat-list
      mat-list-item
        label Slider
      mat-list-item
        mat-slider
  mat-grid-tile
    mat-list
      mat-list-item
        label Slide toggle
      mat-list-item
        mat-slide-toggle Slide me!
  mat-grid-tile
    mat-list
      mat-list-item
        label Tooltip
      mat-list-item
        span(matTooltip="Tooltip!") I have a tooltip
  mat-grid-tile
    mat-list
      mat-list-item
        label Pagination
      mat-list-item
        div
          mat-paginator([length]="100", [pageSize]="10", [pageSizeOptions]="[5, 10, 25, 100]")