.custom-dialog {
  margin: 5% 30%;

  label{
    margin-right: 10px;
  }

  input {
    margin: 0 0 0 0;
  }

  #signInLbl {
    font-size: 17pt;
    margin-bottom: 20vh;
  }

  #username, #password {
    &:focus {
      border-bottom-color: #31B8C1;
      box-shadow: 0 1px 0 0 #31B8C1;
    }
  }

  #login {
    width: 100%;
  }

  .preloader-wrapper {
    display: block;
    margin: auto;
  }

  .spiner-container{
    width: 100%;
    padding-top: 10px;
    mat-spinner{
      margin: auto;
    }
  }
}