div.custom-dialog(show.bind="display")
  mat-card
    mat-card-title
      label#signInLbl Sign in
    mat-card-content
      form
        mat-grid-list(cols="2", rowHeight="2:1")
          mat-grid-tile
            label(for="username") User ID:
            mat-form-field
              input.validate#username(matInput, value="{{userId}}")
          mat-grid-tile
            label(for="password") Password:
            mat-form-field
              input.validate#password(type="password", matInput, value="{{password}}")
        div.row
          span.inline-error
        div.row
          button#login(type="button", (click)="auth()", mat-raised-button) Submit
        div.spiner-container([hidden]='!showLoader')
          mat-spinner