div
    div.header(layout="row")
        mat-form-field
            input(matInput, [matDatepicker]="dateFromPicker", placeholder="From", [(ngModel)]="dateFrom", [disabled]="sprintsLoading || loadingUsers")
            mat-datepicker-toggle(matSuffix, [for]="dateFromPicker", [disabled]='false')
            mat-datepicker(#dateFromPicker='')

        mat-form-field
            input(matInput, [matDatepicker]="dateToPicker", placeholder="To", [(ngModel)]="dateTo", [disabled]="sprintsLoading || loadingUsers")
            mat-datepicker-toggle(matSuffix, [for]="dateToPicker", [disabled]='false')
            mat-datepicker(#dateToPicker='')

        mat-checkbox(color="primary", [disabled]="sprintsLoading || loadingUsers", [(ngModel)]="confluenceService.onlyMinskFlag") Only Minsk Members

        button(mat-raised-button, color="primary", *ngIf="!sprintsLoading && !loadingUsers",
            (click)='onLoadClick()', [disabled]="!dateFrom || !dateTo || dateFrom > dateTo") Load

        span {{sprintsLoading ? 'Loading Sprints...' : (loadingUsers ? ('Loading Users: '+confluenceService.numberLoadedUsers + ' of '+confluenceService.numberUsersToLoad) : '')}}

        input.ng-hide(id="xlsxFile", type="file", accept=".xlsx", (change)="handleSheetSelect($event)", [hidden]='true')
        button(mat-raised-button, color="primary", onclick="document.getElementById('xlsxFile').click()", [disabled]="(sprintsLoading || loadingUsers || confluenceService.listSprints.length == 0)") Generate Sheet

    .grid
        .header
            div.col5 Sprint Name
            div.col2 Members
            div.col3 Start Date
            div.col3 End Date
            div.col3 Working Days
        .body
            div(*ngFor='let sprint of confluenceService.listSprints')
                .row.sprint((click)='onSelectSprint(sprint)', [ngClass]="{'selected-item': sprint.selected, 'warning-color': sprint.fullTimeMembers.length==0}")
                    div.col5
                        span {{sprint.title}}
                        a(href="https://capsilon.atlassian.net/wiki/spaces/ENG/pages/{{sprint.id}}", target="_blank")
                            img.sprint-link-icon(src="../../assets/img/link-icon.png")
                    div.col2 {{sprint.fullTimeMembers.length}}
                    div.col3 {{sprint.startDate}}
                    div.col3 {{sprint.endDate}}
                    div.col3 {{sprint.workingDays}} days
                div(*ngIf="sprint.selected")
                    ul
                        li(*ngFor='let member of sprint.fullTimeMembers') {{confluenceService.confluenceUsersProfiles.hasOwnProperty(member.userKey) ? confluenceService.confluenceUsersProfiles[member.userKey].displayName+(confluenceService.minskTeamIDs.hasOwnProperty(member.userKey) ? ' - Minsk' : ' - India/Poland') : 'Loading member...'}} ({{member.workingDays}} days)

            .loader-container(*ngIf='sprintsLoading')
                mat-spinner([diameter]="40", [strokeWidth]="5")
