.header {

  margin: 20px;

  mat-form-field {
    padding-right: 20px;
    width: 130px;
  }

  button {
    margin-left: 30px;
  }

  span {
    font-weight: bold;
    color: #673ab7;
    margin-left: 20px;
  }
}

.sprint-link-icon {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.loader-container {
  padding-top: 20px;
  padding-bottom: 20px;

  mat-spinner {
    display: block;
    margin: auto;
  }
}

table {
  margin-top: 20px;
  table-layout: fixed;
  border-collapse: collapse;

  td, th {
    height: 50px;
    text-align: center;
  }

  th {
    background-color: #e8e8e8;
  }

  tr {
    border-bottom: 1px solid #e8e8e8;

    &:hover {
      background-color: #f2caf2;
    }

    &.selected-item{
      color: white;
      background-color: #c92bd9;

      a {
        color: white;
      }
    }
  }
}

.grid {
  width: 100%;
  border-collapse: collapse;

  .header, .row {
    display: table-row;
    height: 50px;
    width: 100%;
    background-color: #e8e8e8;

    div {
      display: table-cell;
      height: 50px;
      text-align: center;
      vertical-align: middle;

      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    }
  }

  .sprint {
    background-color: white;


    border-top: 1px solid #e8e8e8;

    &:hover {
      background-color: #f2caf2;
    }

    &.selected-item {
      color: white;
      background-color: #c92bd9;

      a {
        color: white;
      }
    }

    &.warning-color {
      color: darkorange;
    }
  }

  ul {
    padding-left: 60px;
    margin:  0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fafafa;
    list-style-image: url('../../assets/img/login-user-icon.png');

    li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .row.users {
    background-color: white;
    height: 30px;
  }

  .col5 {
    width: 100%;
  }

  .col4 {
    width: 25%;
  }

  .col3 {
    min-width: 150px;
  }

  .col2 {
    min-width: 100px;
  }
}

a:not(.button) {
  color: #444444;
}
